<button class="sider-toggle-btn">☰</button>


.sider.collapsible
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`)
                   
                    span Tổng quan 
            li 
                a(href=`${prefixAdmin}/products`)

                    span Sản phẩm 
