body
    button.sider-toggle-btn(onclick="toggleSidebar()") ☰

    #sider.sider
        .inner-menu
            ul
                li
                    a(href=`${prefixAdmin}/dashboard`)
                        span Tổng quan
                li
                    a(href=`${prefixAdmin}/product-category`)
                        span Danh mục sản phẩm
                li
                    a(href=`${prefixAdmin}/products`)
                        span Danh sách sản phẩm
                li
                    a(href=`${prefixAdmin}/roles`)
                        span Nhóm quyền