footer.ft
    section.content
        a(href="Home.html")
            img(src="/Users/PC/Pictures/Screenshots/Ảnh chụp màn hình 2024-07-30 103502.png", alt="image")
        p Hộ kinh doanh Trần Công Đạt MST : 06A8127229
        p SneakerAddictor - Nhà sưu tầm và phân phối các sản phẩm đến từ các thương hiệu thời trang quốc tế hàng đầu Việt Nam
        h2 Hệ thống cửa hàng
        i(class="fas fa-map-marker-alt")
        p Cơ sở 1: Số 18, ngách 88, ngõ 14, phố Vũ Hữu, quận Nam Từ Liêm, Hà Nội.
    
    section.content
        legend About us
        a(href="#") 
            p Giới thiệu chung
        a(href="#") 
            p Tuyển dụng
        a(href="#") 
            p Dịch vụ Spa, sửa giày
        
        .content1
            legend Chính sách hỗ trợ khách hàng
            a(href="#") 
                p Hướng dẫn mua hàng
            a(href="#") 
                p Chính sách đổi trả và bảo hành
            a(href="#") 
                p Điều khoản trang Web
            a(href="#") 
                p Chính sách thanh toán
            a(href="#") 
                p Chính sách bảo vệ thông tin cá nhân của người tiêu dùng
    
    section.content
        article.sile1
            a(href="#")
                img(src="https://thumbs.dreamstime.com/b/facebook-logo-vector-eps-file-squared-coloured-easily-editable-have-white-background-high-resolution-255556941.jpg", alt="facebook")
                p 15k Fan
            a(href="#")
                img(src="https://t3.ftcdn.net/jpg/04/74/05/94/360_F_474059464_qldYuzxaUWEwNTtYBJ44VN89ARuFktHW.jpg", alt="youtube")
                p 5k Fan
            a(href="#")
                img(src="https://i.pinimg.com/originals/88/ad/d2/88add2e8adb859618228ca4d3b268162.png", alt="zalo")
                p Zalo H&D

        article.sile2
            a(href="#")
                img(src="https://img.lazcdn.com/g/tps/tfs/TB1iRzQc5qAXuNjy1XdXXaYcVXa-374-142.png", alt="", style="width: 130px; height:50px;")
            a(href="#")
                img(src="https://img.lazcdn.com/g/tps/imgextra/i3/O1CN01Bd0sVV1QY5gSQHbMq_!!6000000001987-2-tps-160-160.png", alt="", style="width: 40px; height:40px;")
            a(href="https://www.bsigroup.com/vi-VN/")
                img(src="https://img.lazcdn.com/g/tps/tfs/TB1Jnytq7L0gK0jSZFAXXcA9pXa-160-84.png", alt="", style="width: 110px; height:50px;")
            
        div
            a(href="#")
                img(src="./img/topzone.png", alt="")
            a(href="#")
                img(src="./img/dienmay.png", alt="")
            a(href="#")
                img(src="./img/ava.png", alt="")
            a(href="#")
                img(src="./img/vieclam.png", alt="")
