include ../mixins/sub-menu.pug

header.logo
    a(href="Home.html")
        img(src="./images/Ảnh chụp màn hình 2024-07-30 103502.png", alt="image")  
    nav
        ul.menu
            li
                a(href="#") Tin Tức
            li
                a(href="#") Về chúng tôi
                    ul.dropdown
                        li
                            a(href="#") Lịch sử ra đời
                        li
                            a(href="#") Độ uy tín
                        li
                            a(href="#") Chính sách bảo hành
                        li
                            a(href="#") Hướng dẫn mua hàng
            li
                a(href="#") Helps
            li(class="sub-menu")
                -const pathProduct = "/products";
                a(href=pathProduct) Giày
                    +sub-menu(layoutProductsCategory, pathProduct)


    img(src="https://www.freeiconspng.com/uploads/search-icon-png-21.png", alt="Tìm kiếm", id="openModal", style="cursor: pointer; width: 35px; height: 35px; margin-left: 10px;")

    #searchModal.modal
        .modal-content
            span.close &times;
            input(type="text", id="searchInput", placeholder="Tìm kiếm sản phẩm...")
            br
            br
            button(onclick="submitSearch()")
                img(src="https://www.freeiconspng.com/uploads/search-icon-png-21.png", alt="Tìm kiếm", id="openModal", style="cursor: pointer; width: 25px; height: 25px; margin-left: 10px;")
    script.
        var modal = document.getElementById("searchModal");
        var btn = document.getElementById("openModal");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function submitSearch() {
            var keyword = document.getElementById("searchInput").value;
            if (keyword) {
                alert("Bạn đã tìm kiếm: " + keyword);
                modal.style.display = "none";
            } else {
                alert("Vui lòng nhập từ khóa tìm kiếm.");
            }
        }

    .cart
        a(href="#")
            img(src="./images/Ảnh chụp màn hình 2024-09-10 162015.png", alt="image")

