include ../mixins/sub-menu.pug

header.fixed-header
    .header-container
        a.logo(href="/")
            img(src="/images/logo.png", alt="image")
        
        nav
            ul.menu
                li
                    a(href="/") Trang Chủ
                li.sub-menu
                    - const pathProduct = "/products";
                    a(href=pathProduct) Giày
                        +sub-menu(layoutProductsCategory, pathProduct)
                li
                    a(href="#") Phụ Kiện
                li
                    a(href="#") Tin Tức – Sự Kiện
                li
                    a(href="#") Liên Hệ
                li
                    a(href="#") Sale
        
        .right-section
            .search-container
                form(action="/search", method="GET")
                    input(type="text", placeholder="Tìm kiếm", name="keyword")
                    button(type="submit")
                        i.icon-search
            .cart
                a(href="/cart")
                    img(src="/images/cart.png", alt="Giỏ hàng")
                    span.cart-count #{miniCart ? miniCart.totalQuantity : 0}
